
<h2>App</h2>

<h3>Template Driven Form</h3>

<form #user = "ngForm" (ngSubmit)="OnFormSubmit(user)">
<table>
  <tr>
    <td>Name</td>
    <td>
      <input type="uname" [ngModel]="user.username" required #uname="ngModel">
      <div *ngIf="uname.invalid" [ngClass]="error">Name Required</div>
    </td>
  </tr>
  <tr>
    <td>Gender</td>
    <td>
      <input type="radio" value="male"  name="gender" [ngModel]="user.gender" required #gender="ngModel">Male
      <input type="radio" value="female" name="gender" [ngModel]="user.gender" required #gender="ngModel">Female
      <div *ngIf="uname.invalid" [ngClass]="error">Gender Required</div>
    </td>
  </tr>
  <tr>
    <td>Are you married ?</td>
    <td>
      <input type="checkbox" name="married" [ngModel]="user.ismarried">Female
      <div *ngIf="uname.invalid" [ngClass]="error">Gender Required</div>
    </td>
  </tr>
</table>
</form>